
@model WebApplication.Models.ServerModel
@{
    ViewData["Title"] = "Servers";
}

<h1>@ViewData["Title"]</h1>

<div class="col-md-2 float-right">
    <a class="btn btn-primary" asp-controller="Servers" asp-action="AddServer">Add Server</a>
    <a class="btn btn-light" asp-controller="Servers" asp-action="Refresh">Refresh</a>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Action
                </th>
                <th scope="col">
                    GameServer IP (Give to UE4 Clients)
                </th>
                <th scope="col">
                    Server Management IP (IP to ServerManagementAPI)
                </th>
                <th scope="col">
                    Port
                </th>
                <th scope="col">
                    Current # of Instances
                </th>
                <th scope="col">
                    Max # of Instances
                </th>
                <th scope="col">
                    Active/Inactive
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 6; i++)
            {
                @*<tr>
                    <td>
                        <a asp-controller="Servers" asp-action="Edit">edit</a>
                    </td>
                    <td>@Model.GameServerIP</td>
                    <td>@Model.ServerManagementIP</td>
                    <td>@Model.Port</td>
                    <td>@Model.CurrentInstances</td>
                    <td>@Model.MaxInstances</td>
                    <td>@Model.IsActive</td>
                </tr>*@
            }
        </tbody>
    </table>
</div>
