@model IEnumerable<DataLibrary.Models.GameInstanceModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="col-md-2 float-right">
    <a class="btn btn-primary" asp-controller="GameInstances" asp-action="LaunchGameInstance">Launch GameInstance</a>
    <a class="btn btn-light" asp-controller="GameInstances" asp-action="Refresh">Refresh</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Args)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssociatedServer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Args)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssociatedServer)
            </td>
            <td>
                <form asp-controller="GameInstances" asp-action="ShutDown" method="post">
                    <input type="hidden" name="gameInstanceID" value=@item.Id />        
                    <button type="submit" name="button">Shut Down</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
